@import "variables";
:host {
  width: 100%;
  .map {
    padding: 2.5rem;
    height: 100%;
    width: 100%;
    agm-map {
      height: 45rem;
      width:100%;
    }
    .group {
      border: 1px solid $site-primary-color;
      padding: 1.2rem;
      background: white;
      box-shadow: 5px 5px 2px #999999;
      .input-group {
        margin-top: .8rem;
      }
      .btn-container {
        text-align: right;
        .btn {
          margin-top: .8rem;
          background-color: $button-background-color;
          border-color: $button-background-color;
        }
      }
    }
  }
}