.container {
  padding-top: .7rem;
  margin-left: 0;
  img {
    max-width: 66%;
  }
  .marker-title {
    color: #343434;
    font-size: 1.1rem;
  }
  .marker-label {
    color: #343434;
    font-size: 0.9rem;
  }
}